<h1>Update  Student </h1>


<form action="" method="post">
    <input type="hidden" name="id" value="<%- student[0].id %>">
    <input type="text" name="name" value="<%- student[0].name %>" placeholder="Enter Your Name" required><br><br>
    <input type="email" name="email" value="<%- student[0].email %>" placeholder="Enter Your email" required><br><br>
    <input type="number" name="mno" value="<%- student[0].mno %>" placeholder="Enter Your Mobile Number" required><br><br>
    <input type="submit" value="Submit">
</form> 


